body {
	font-family: helvetica, sans-serif;
	color: grey;
}

header {
	text-align: center;
	margin: 20px 0;
}

form {
	text-align: center;
}

.input-container {
	display: flex;
	width: 500px;
	min-height: 600px;
	border: 1px solid grey;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.letters-container {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
}

.adjectives-container {
	border: 1px solid blue;
}

.letter {
	font-size: 5em;
}

#pos-0, #pos-1, #pos-2, #pos-3, #pos-4, #pos-5, #pos-6, #pos-7, #pos-8, #pos-9, #pos-10, #pos-11, #pos-12, #pos-13, #pos-14, #pos-15, #pos-16, #pos-17, #pos-18, #pos-19, #pos-20 {
	font-size: 5em;
	width: 400px;
	height: 90px;
	border: 1px solid orange;
}